<%- include("partials/header") %>

<p>Welcome to YelpCamp</p>

<p>Check out our camps <a href="/campgrounds">here</a></p>
<p>Add to our camps database <a href="/campgrounds/new">here</a></p>

<%- include("partials/footer") %>