favorites=sublime_text.desktop,antimicro.desktop,steam.desktop,FBReader.desktop,libreoffice-startcenter.desktop,gimp.desktop,nixnote2.desktop,tuxguitar.desktop
recent=xfce4-taskmanager.desktop,vlc.desktop,blueman-manager.desktop,transmission-gtk.desktop,org.kde.falkon.desktop,catfish.desktop,org.kde.krita.desktop,mousepad.desktop,gimp.desktop,pavucontrol.desktop
button-title=Applications
button-icon=/home/odedi/Pictures/icon/stay_determined.png
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
item-icon-size=2
hover-switch-category=false
category-show-name=true
category-icon-size=1
load-hierarchy=false
recent-items-max=10
favorites-in-recent=true
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=true
menu-width=400
menu-height=500
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=true
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=4

[action0]
name=Man Pages
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action2]
name=Run in Terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action3]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

